<div class="modal-header"><h3>Resize</h3></div>
<div class="modal-body">

  <form name="resizeForm">
    <div class="form-group">
      <label for="w">Width:</label>
      <input id="w" type="number" min="0" class="form-control" ng-model="width" required/>
    </div>
    <div class="form-group">
      <label for="h">Height:</label>
      <input id="h" type="number" min="0" class="form-control" ng-model="height" required/>
    </div>
  </form>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="resize()" ng-disabled="resizeForm.$invalid">Resize</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
